:root {
    padding: 0;
    margin: 0;
    display: block;
    font-family: 'Antykwa Poltawskiego';

    --bubor: white;

    --link-col: white;
    --link-bg: black;

    /* Theme Colors */
    --pink: #D83F87;
    --nav-col: #45829E;
    --blacky: #2A1B3D;
    --bluish: #44318D;
    --purply: #ED8074;
    --grey: #A4B3B6;
    --nav-col: #44318D;
}

/* Will be removed later. */

.logo {
    height: 110px;
    border-radius: 12px;
}

.top-nav {
    display: flex;
    align-items: center;
    background-color: var(--nav-col);
    height: 110px;
    border-radius: 12px;
}


/***************************Navbar Styling******************************/

.nav-con {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: stretch;
    align-self: stretch;
    justify-content: space-around;
    width: 100%;
}

.nav-con>li>div {
    width: 200px;
    height: 70px;
    padding: auto;
    border: 3px solid white;
    border-radius: 12px;
    text-align: center;
    color: white;
}

.nav-con>li>div:hover {
    background-color: white;
    cursor: pointer;
    color: black;
}

.nav-con>li>div a {
    font-size: 25px;
    margin: auto;
    color: white;
    text-decoration: unset;
}

.nav-con>li>div:hover a {
    color: var(--nav-col);
}

.nav-item {
    position: relative;
}

.nav-item:hover .pop-nav {
    display: block;
}

.nav-item:hover .pop-con {
    background-color: white;
}

.pop-con {
    background-color: var(--nav-col);
    border: none;
    outline: none;
    transition: 0.5s;
    border: 2px solid black;
    border-radius: 12px;
}

/* Dropdown Content (Hidden by Default) */
.pop-nav {
    font-size: 25px;
    width: 200px;
    list-style-type: none;
    display: none;
    position: absolute;
    padding: 0px;
    background-color: var(--bubor);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 2s;
    border: 3px solid white;
    border-radius: 12px;
    margin-top: -25%;
    padding-bottom: 12.5%;
}

/* Links inside the dropdown */
.pop-nav a {
    background-color: var(--link-col);
    color: var(--link-bg);
    border: 2px solid var(--link-col);
    text-align: center;
    text-decoration: none;
    display: block;
    border-radius: 12px;
}

/* Change color of dropdown links on hover */
.pop-nav a:hover {
    color: var(--link-col);
    background-color: var(--link-bg);
    scale: 1.2;
}

.pop-nav:hover .nav-con {
    background-color: white;
    color: var(--nav-col);
}

/* Show the dropdown menu on hover */
.nav-item:hover .pop-nav {
    display: block;
    border-radius: 12px;
}

@media screen and (min-width:1000px) {

    .pop-nav a:hover {
        background-color: var(--link-bg);
        border: 2px solid var(--grey);
    }

    .pop-nav a {
        background-color: transparent;
        border: none;
        margin-bottom: 15px;
        scale: 1.2;
    }
}

@media screen and (max-width:1000px) {
    .nav-con {
        visibility: hidden;
    }

    .top-nav {
        height: 110px;
    }

    .logo {
        border-radius: 12px;
        width: 250px;
    }

}