:root {
    padding: 0;
    margin: 0;
    display: block;
    font-family: 'Antykwa Poltawskiego';
    --nav-col: #45829E;
}

/* Will be removed later. */

.logo {
    height: 110px;
    border-radius: 12px;
}

.top-nav {
    display: flex;
    align-items: center;
    border-radius: 12px;
    background-color: var(--nav-col);
}


/***************************Navbar Styling******************************/
.nav-con {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: stretch;
    align-self: stretch;
    justify-content: space-around;
    width: 100%;
}

.nav-con>li>div {
    width: 200px;
    height: 70px;
    padding: auto;
    border: 3px solid white;
    border-radius: 12px;
    text-align: center;
    color: white;
}

.nav-con>li>div:hover {
    background-color: white;
    cursor: pointer;
    color: black;
}

.nav-con>li>div a {
    font-size: 25px;
    margin: auto;
    color: white;
    text-decoration: unset;
}

.nav-con>li>div:hover a {
    color: var(--nav-col);
}

.nav-item {
    position: relative;
}

.nav-item:hover .pop-nav {
    display: block;
}

.nav-item:hover .pop-con {
    background-color: white;
}

.pop-con {
    background-color: var(--nav-col);
    border: none;
    outline: none;
    transition: 1s;
}

/* Dropdown Content (Hidden by Default) */
.pop-nav {
    font-size: 25px;
    width: 200px;
    list-style-type: none;
    display: none;
    position: absolute;
    padding: 0px;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 2s;
    border: 3px solid white;
    border-radius: 12px;
}

/* Links inside the dropdown */
.pop-nav a {
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.pop-nav a:hover {
    background-color: #ddd;
}

.pop-nav:hover .nav-con {
    background-color: white;
    color: var(--nav-col);
}

/* Show the dropdown menu on hover */
.nav-item:hover .pop-nav {
    display: block;
    border-radius: 12px;
}